apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: kollab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: ghcr.io/VOTRE-USERNAME/kollab-backend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          envFrom:
            - configMapRef:
                name: backend-config
          env:
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: MYSQL_PASSWORD
          # readinessProbe:
          #   httpGet:
          #     path: /
          #     port: 80
          #   initialDelaySeconds: 20
          #   periodSeconds: 10
          # livenessProbe:
          #   httpGet:
          #     path: /
          #     port: 80
          #   initialDelaySeconds: 30
          #   periodSeconds: 20
          volumeMounts:
            - name: storage-data
              mountPath: /var/www/storage
            - name: cache-data
              mountPath: /var/www/bootstrap/cache
      volumes:
        - name: storage-data
          emptyDir: {}
        - name: cache-data
          emptyDir: {}
